body
{
    margin:0;
    text-align: center;

}
h1
{
margin:0;
}

.top-container
{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    font-family: 'sacramento',cursive;
}
.middle-container
{
 background-color: red;
 width: 200px;
 height: 200px;
 border: 20px;
}
.bottom-container
{
background-color: blue;
width: 200px;
height: 200px;
border: 10px;
}
.top-cloud
{
   
    position: absolute;
    right: 300px;
    top: 50px;
    
    
}
.bottom-cloud
{
    position: absolute;
    left: 300px;
    bottom: 300px0.
    ;
    
}